@model Steller_Portfolio.Models.TblFeature
@{
    ViewBag.Title = "AddFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Öne Çıkan Ekleme Sayfası</h3>

<form method="post">
    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Job, new { @class = "form-control" })
    <br />
    <label>Cv Download Url</label>
    @Html.TextBoxFor(x => x.CvDownloadUrl, new { @class = "form-control" })

    <button class="btn btn-outline-primary">Kaydet</button>

</form>

