@model Steller_Portfolio.Models.TblTestimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Referans Güncelleme Sayfası</h3>
<br />
<form method="post">
    @Html.HiddenFor(x => x.TestimonialID, new { @class = "form-control" })
    <label>Adı Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Güncelle</button>
</form>

